@font-face {
	font-family: roboto;
	src: url('./assets/fonts/Roboto-Regular.ttf');
}
@font-face {
		font-family: roboto-bold;
	src: url('./assets/fonts/Roboto-Bold.ttf');
}
*{
	margin: 0;
	padding: 0;
	font-family: roboto;
	box-sizing: border-box;
	transition:1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
p{
	font-size: 16px;
}
body{
	display: grid;
	place-content: center;
    padding-top: 5%;
}
.wrapper{
	display: flex;
	flex-wrap: wrap-reverse;
	align-items: center;
	box-shadow: 0 3px 5px #0000004e;
	padding: 10px;
	border-radius: 24px;
	overflow: hidden;
	/*height: 100%;*/
	gap: 50px;
	padding-left: 50px;
}
.wrapper h1{
	font-family: roboto-bold;
	font-weight: 700;
	font-size: 3.6em;
	color: hsl(235, 18%, 26%);
}
.wrap{
	display: flex;
	flex-direction: column;

}
.wrap .image2{
	display: none;
}
.header{
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 10px;
}
.header p{
	width: 90%;
}
.list{
	display: flex;
	gap: 15px;
	padding: 7px 0;
}
.details{
	display: flex;
	flex-direction: column;
	height: 75%;
	justify-content: space-around;
	padding: 0 0;
}
input{
	/*width: 0%;*/
	border-radius: 5px;
	padding-top: 13px;
	padding-bottom: 13px;
	padding-left: 10px;
	border: 1px solid hsl(231, 7%, 60%);
	
	
	/*padding: 10px;*/
}
input:focus{
	outline:1px solid hsl(231, 7%, 60%);
}
button{
	padding: 13px 20px;
	border-radius: 5px;
	background-color: hsl(234, 29%, 20%);
	color: hsl(0, 0%, 100%);
	border: none;
	cursor: pointer;
	font-weight: 700;
}

.error{
	color:  hsl(4, 100%, 67%);
	font-weight: 800;
}
.errorIn{
	color: hsl(4, 100%, 31%);
	border: 1px solid  hsl(4, 100%, 67%);
	background-color: hsla(4, 100%, 67%, 0.345);
}
button:hover{
	background: linear-gradient(-45deg ,hsl(13, 87%, 58%),hsl(353, 100%, 71%));
}


form{
	display: flex;
	flex-direction: column;
	gap: 15px;
}
form div{
	display: flex;
	flex-direction: column;
	gap: 3px;
}
.label{
	display: flex;
	font-size: 12px;
	font-weight: 700;
	flex-direction: row;
	justify-content: space-between;
}
em{
	font-style: normal;
	font-weight: 700;
}
.label span{
	font-weight: 400;
}
.notification{
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25.5rem;
	background-color: aliceblue;
	padding: 15px;
	gap: 25px;
	border-radius: 24px;


}
.notification button{
	width: 100%;
}
.notification h1{
	font-size: 3rem;
	font-family: roboto-bold;
	font-weight: 800;
}
.notif{
	position: absolute;
	background-color: rgba(0, 0, 0, 0.362);
	width: 100%;
	height: 100%;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	top: 0;
}

.show{
	transform: translateY(0);
}
.hide{
	transform: translateY(-100%);
}
.dits{
	display: flex;
	flex-direction: column;
	gap: 30px;
}











@media screen and (max-width:375px) {
	.wrap .image2{
	display: block;
	width: 100%;
}
.wrap .image1{
	display: none;
}
.wrapper h1{
	font-family: roboto-bold;
	font-weight: 700;
	font-size: 2.3em;
}
.wrapper{
	display: flex;
	flex-wrap: wrap-reverse;
	flex-grow: 1;
	padding: 0;
	border-radius: 0;
	overflow: hidden;
		gap: 0px;
}
.details{
	padding: 0 20px;
}
.header p{
	width: 100%;
	font-size: 15px;
}
	body{
		padding-top: 0%;
	}
.notification{
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	background-color: aliceblue;
	padding: 15px;
	gap: 25px;
	justify-content: space-between;
	padding-top: 100px;
	padding-bottom: 45px;
	border-radius: 0;

}
.dits{
	display: flex;
	flex-direction: column;
	gap: 30px;
}
}